	body {
		font: 100% Helvetica, sans-serif;
		background-color: black;
		background-image: url('csgobackground.jfif');
		background-repeat: no-repeat:
		background-position: fixed:
	}

	.container {
		overflow: hidden;
		width: 700px;
		height: 100%;
		border: 10px solid navy;
		margin-left: auto;
		margin-right: auto;
	}

	.content {
		width: 660px;
		padding: 20px;
		background-color: black;
		color: white;
		background-color: black;
	}

	p {	
		line-height: 1.5em;
		font-size: 14pt;
	}

	img {
		float: right;
		margin-right: 20px;
		margin-bottom: 5px;
		border: 5px solid navy;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #333;
	}

	li {
		float: left;
		width: 175px;
	}
	
	li a {
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		padding: 10px;
		text-decoration: none;
	}
	
	li a.ex1:hover {
		background-color: black;
		-webkit-animation: color-change 1s infinite;
		-moz-animation: color-change 1s infinite;
		-o-animation: color-change 1s infinite;
		-ms-animation: color-change 1s infinite;
		animation: color-change 1s infinite;
	}

	.current {
		background-color: white;
		color: black;
		padding: 10px;
	}
	
	table, th, td {
		border: 2px solid navy;
		border-collapse: collapse;
		padding: 10px;
	}
		
	table {
		width: 2000;
		height: 700px;
	}
		
	th {
		-webkit-animation: color-change 1s infinite;
		-moz-animation: color-change 1s infinite;
		-o-animation: color-change 1s infinite;
		-ms-animation: color-change 1s infinite;
		animation: color-change 1s infinite;
		background-color: lime;
	}
		
	td:hover {
		background-color: grey;
	}
	.zoom {
		transition: transform .5s;
		width: 200px;
		height: 200px;
		margin: 0 auto;
	}

	.zoom:hover {
		transform: scale(1.5);
	}
	
	@-webkit-keyframes color-change {
		0% { color: red; }
		25% {color: green; }
		50% { color: blue; }
		75% { color: purple }
		100% { color: red;}
	}
	@-moz-keyframes color-change {
		0% { color: red; }
		25% {color: green; }
		50% { color: blue; }
		75% { color: purple }
		100% { color: red;}
	}
	@-ms-keyframes color-change {
		0% { color: red; }
		25% {color: green; }
		50% { color: blue; }
		75% { color: purple }
		100% { color: red;}
	}
	@-o-keyframes color-change {
		0% { color: red; }
		25% {color: green; }
		50% { color: blue; }
		75% { color: purple }
		100% { color: red;}
	}
	@keyframes color-change {
		0% { color: red; }
		25% {color: green; }
		50% { color: blue; }
		75% { color: purple }
		100% { color: red;}
	}
